<div class="container">
	<div class="mb-4">
		<h3>FormControl</h3>
		<form [formGroup]="form">
			<fieldset>
				<date-input #dateRangePicker [options]="firstFieldOptions" formControlName="firstDateRange"
					(rangeSelected)="onRangeSelected($event)" [range]="true"></date-input>
			</fieldset>
		</form>
		<pre>{{ form.value | json }}</pre>
	</div>
	<div class="mb-4">
		<h3>NgModel</h3>
		<div class="mb-3">
			<date-input [(ngModel)]="dateRange2" [range]="true"></date-input>
		</div>
		<pre>{{ dateRange2 | json }}</pre>
	</div>

	<div class="mb-4">
		<h3>Single calendar</h3>
		<div class="mb-3">
			<date-input [(ngModel)]="dateRange3"></date-input>
		</div>
		<pre>{{ dateRange3 | json }}</pre>
	</div>

	<div class="mb-4">
		<h3>ReadOnly</h3>
		<div class="mb-3">
			<date-input [(ngModel)]="dateRange4" [readOnly]="true"></date-input>
		</div>
		<pre>{{ dateRange4 | json }}</pre>
	</div>
</div>
<!-- <div class="container-fluid">
	<pre>{{form.value | json}}</pre>
	<div class="row mb-3">
		<div class="col">
			<h1>Ngx Date Range Picker</h1>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12 col-sm-2">
			<form enctype="application/x-www-form-urlencoded" role="form">
				<fieldset>
					<date-input #dateRangePicker [options]="firstFieldOptions" [parentFormGroup]="form"
						[controlName]="'firstDateRange'" (rangeSelected)="onRangeSelected($event)"></date-input>
					<p style="color: red;"
						*ngIf="form.controls.firstDateRange.touched && form.controls.firstDateRange.hasError('required')">
						This field is required</p>
				</fieldset>
			</form>
			<button class="btn btn-light" (click)="onReset($event)">Call Reset on this Date Picker to clear it</button>
		</div>
	</div>
	<div class="row justify-content-end mb-4">
		<div class="col-12 col-sm-2">
			<p>Datepicker will open from the right</p>
			<form enctype="application/x-www-form-urlencoded" role="form">
				<fieldset>
					<date-input [options]="rightFieldOptions" [parentFormGroup]="form"
						[controlName]="'rightDateRange'"></date-input>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12 col-sm-2">
			<form enctype="application/x-www-form-urlencoded" role="form" [formGroup]="form" *ngIf="form">
				<fieldset>
					<date-input [instanceId]="'secondDateRange'" [options]="secondFieldOptions"
						[parentFormGroup]="form" [controlName]="'secondDateRange'" #dateRangePicker>
						<div class="form-group">
							<label for="secondDateRange">You can also use a custom template</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date-range-icon">
										<i class="material-icons">event</i>
									</span>
								</div>
								<input id="secondDateRange" class="form-control" type="text" name="dateRange"
									[value]="dateRangePicker.range" placeholder="From - To"
									formControlName="secondDateRange" />
							</div>
						</div>
					</date-input>
					<p>This datepicker has the &#8220;clickOutsideAllowed&#8221; feature set to false. It will close on
						a click outside of the component.</p>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col col-sm-2">
			<form enctype="application/x-www-form-urlencoded" role="form">
				<fieldset>
					<date-input [options]="singleFieldOptions" [parentFormGroup]="form"
						controlName="'singleField'" (rangeSelected)="onRangeSelected($event)"></date-input>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col col-sm-2">
			<form enctype="application/x-www-form-urlencoded" role="form">
				<fieldset>
					<date-input [options]="disableInputDisplayOptions" [parentFormGroup]="form"
						controlName="'disableInputDisplayField'" (rangeSelected)="onRangeSelected($event)">
					</date-input>
					<p>This datepicker has the &#8220;disableInputDisplay&#8221; feature set to true. The input field
						shown here is disabled, preventing manual editing, but still allowing the DatePicker to be used
						and displaying the selected range.</p>
				</fieldset>
			</form>
		</div>
	</div>
</div> -->
